<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Traffic Images</title>
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link rel= "stylesheet" href="{{ url_for('static', filename='style/trafficimages.css') }}">
</head>
<body>

<p>Live Feed of Traffic Images</p>
<iframe class="traffic"  src="https://data.gov.sg/dataset/traffic-images/resource/e127e29a-bd48-47e2-a0a7-e89ce31f10c7/view/39ba8de0-6242-40d3-8664-793316c47b09" frameBorder="0"> </iframe><iframe class ="waze"  src="https://embed.waze.com/iframe?zoom=12&lat=1.351880&lon=103.820114&ct=livemap" allowfullscreen></iframe>

</body>
</html>
